/* Created by Igor Penjivrag (www.colorlightstudio.com) - 12.11.2006 */


body {
	margin: 0px;
	background: url(/images/top_bg.gif);
	background-repeat: repeat-x;
	font-family: Verdana, Arial, sans-serif;
        font-size: 1.0em;
}

p {
	line-height: 17px;
	margin: 11px 0 10px 0;
	padding: 0px;
}

h2 {
	color: #73353A;
	margin: 20px 0px 0px 0px;
	padding:0px;
	font-size: 25px;
}

a {
	color: #3366FF;
	text-decoration: none;
}

a:hover {
  color: #3366AA;
}
blockquote{
	background: #F7FDE3;
	color: #606060;
	padding: 10px;
}


/**** Main Container ***/


#wrap {
       margin-left: auto;
       margin-right: auto;
       width: 900px;
}


/**** Top ***/


#top {
	width: 100%;
	height: 88px;
	color: #fff;
	background: #000 url(/images/top_bg.gif);
	overflow:hidden;
}

#top h2 {
	color: White;
	letter-spacing: 3px;
	font-size: 2.6em;
	font-weight: normal;
	position: relative;
	margin: 0px;
	top:6px;
	display:block;
	padding-left: 40px;
}

#top h2 a {
	color: white;
	text-decoration: none;
}

#top h2 a:hover {
        color: #FF5938;
}

#projecttitle {
  float: left;
}

#projecttitle p {
  margin-top: 5px;
  margin-left: 40px;
  font-size: 0.75em;
  font-style: italic;
}

/**** Main Menu ***/


#menu {
	display: block;
	float:right;
}

#menu ul {
	margin: 0;
	list-style: none;
	font-size: 10px;
	padding: 0;
}

#menu li {
	display: block;
	float: left;
	white-space: nowrap;
}

#menu li a {
	display: block;
	padding: 55px 16px 6px 16px;
	text-decoration: none;
	color: #fff;
	font-size: 1.4em;
}

* html #menu a {width:1%;}

#menu li a:hover {
	background: #FF5938;
}

#menu li a.current {
	letter-spacing: 1px;
	color: gray;
}

#menu li a.current:hover {
	color: #fff;
}


/**** Content Container ***/


#content {
	width: 100%;
	margin-top:30px;
	padding-left: 20px;
	border-left: 1px solid #C0C0C0;
	min-height: 200px;
}

#content div h2 {
	margin: 0;
	font-size: 1.4em;
	padding: 10px 0 10px 0;
}

#aboutcontent {
	width: 70%;
	margin-top:30px;
	margin-left: 240px;
}

/**** Content ***/


#left ul {
	padding: 15px 0 15px 35px;
	margin:0;
}

#left li {
	margin-bottom:5px;
}

#left {
	width: 610px;
	float:left;
	display: block;
        margin-left: 20px;
	display: inline;

}

p {
  line-height: 1.3em;
}

#content a {
  color: #3366FF;
}

#content a:hover {
  color: #3366AA;
}


/**** Sidebar ***/

#sidebar {
  float: left;
  background: #F6F9FB;
	border: 1px solid #E1E1E1;
	padding: 0px 10px 10px 0px;
	margin-left: 0px;
}

#sidebar a.current {
  color: #E00000;
}

#sidebar ul {
  list-style: none;
  font-size: 0.83em;
  padding-left: 20px;
}

#sidebar ul li {
  margin-top: 3px;
}


#right {
	width: 250px;
	float: right;
	display:block;
	margin-top: 10px;
}

#right .box {
	width: 230px;
	background: #F6F9FB;
	border: 1px solid #E1E1E1;
	padding:10px 10px 15px 10px;
	float: right;
}

#right .box h2 {
	font-size: 1.6em;
	margin: 25px 0 0px 0;
	padding:0px 0 5px 0;
}

#right .box a {
	margin: 10px 0 10px 0;
	color: #3366FF;
}

#right .box p {
	margin: 5px 0 10px 0;
	line-height: 15px;
}

#right .box ul {
	padding: 0 0 7px 20px;
	margin:10px 0 10px 0;
}

#right .box li {
	margin-top:5px;
}


/**** Clear Div ***/


#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}



#singlepane {
	width: 70%;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 100px;
	min-height: 200px;
}

#content div h2 {
	margin: 0;
	font-size: 1.4em;
	padding: 10px 0 10px 0;
}

#left h2 {
  font-size: 1.9em !important;
  margin-top: 15px !important;
}

/**** Footer ***/


#footer {
        margin: 40px auto 0 auto;
	text-align: center;
	border-top: dotted 1px gray;
	padding: 20px 0 20px 0;
	width: 70%;
}

#footer p {
	margin: 0px;
	padding: 0;
}