<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="description" content="Storm is a distributed and fault-tolerant realtime computation system. Similar to how Hadoop provides a set of general primitives for doing batch processing, Storm provides a set of general primitives for doing realtime computation. Storm is simple, can be used with any programming language, and is a lot of fun to use!" />
	<meta name="keywords" content="storm, hadoop, realtime, stream, mapreduce, java, computation, scalability, clojure, scala, jvm, processing" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
</head>

<body>
<div id="wrap">
<div id="top">
<div id="projecttitle">
<h2><a href="/" title="Back to main page">Storm</a></h2>
<p id="slogan">Distributed and fault-tolerant realtime computation</p>
</div>
<div id="menu">
<ul>
<li><a href="/about/integrates.html">about</a></li>

<!--
<li><a href="/blog.html">blog</a></li>
-->

<li><a href="/documentation.html">documentation</a></li>
<li><a href="/downloads.html">downloads</a></li>
<li><a href="/community.html">community</a></li>
</ul>
</div>
</div>
{{ content }}
<div id="clear"></div></div>
<div id="footer">
</div>
</div>

</body>
</html>